*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
   background: url('23324.jpg');
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  padding: 0 30px;
}
.logo h2{display: flex;}
.logo h4, .logo h2{
  border: 2px solid black;
  border-radius: 20px;
  padding:10px;
}
.cell{
    margin: 0 15px;
    position: relative;
    background: #000;
    width: 3px;
    height: 20px;
}
.cell::before{
    position: absolute;
    left: -7px;
    top: 10px;
    content: '';
    width: 3px;
    height: 10px;
    background: red;
}
.cell::after{
    position: absolute;
    left: 7px;
    content: '';
    width: 3px;
    height: 10px;
    background: black;
}
.app{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.575);
    z-index: -1;
}
button{
    background: white;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
}
button:hover{
    color: white;
    cursor: pointer;
    background: #000;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
}
.inputform{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
}
.bands{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.bandColor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.2;
    color: white;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    flex: 0.7;
    justify-content: center;
}
.bandColor .color{
    background: white;
    padding: 10px;
    height: 40px;
    width: 50%;
    text-align: center;
    margin-left: 10px;
    color:black;
    font-weight: bold;
}
.resistorBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 50%;
    height: 200px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    opacity: 0.8;
    background: white;
    padding: 0 10px;
    margin-bottom: 10px;
}
.resistorBox button{
    margin: 10px auto;
    font-weight: bold;
    color: white;
    background: black;
    width: 120px;
}
.resistor{
    background: hsl(60, 20%, 68%);
    width: 200px;
    height: 40px;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.resistor::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: rgb(34, 24, 24);
    top: 50%;
    left: -60px;
}
.resistor::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background: rgb(34, 24, 24);
    top: 50%;
    right: -60px;
}
.resistor div{
    color: #000;
    height: 40px;
    width: 5px;
    border-radius: 20px;
}

@media (max-width:700px) {
    .logo{padding: 0 10px;}
    h2{font-size: 15px;}
    .wrapper{width:100%}
    .resistorBox{width: 90%;}
    .bandColor .color{width:100px}
}
.bandAnimation{
    background: rgb(60, 84, 122);
    transition: 5s;
    color: white;
}